* {
    font-family: "Times New Roman", serif;
    box-sizing: border-box;
}

#title {
    background-color: yellow;
    color: red;
    font-weight: bold;
    font-size: 40px;
    text-align: center
}

.recipe-list {
    color: black;
    font-size: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.button1,.button2,.button3 {
    margin: 30px;
    padding: 20px;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    width: fit-content;
    height: auto;
    display: inline-block
}

.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}